#main {
    max-width: 260px;
    margin:auto;




}
.pet {
     text-align: center;
    display:block;
    border:dashed #fa0343;
    border-radius: 20px;
    box-shadow: 8px 9px 10px 4px #120507;
    cursor:pointer;
}
